<div class="media">
  <div class="media-body">
    <h1 class="media-heading">
      Summary
    </h1>
    <p><%= @summary.body %></p>
    <p><%= @summary.id %>>/p>
    <% if policy(@summary).edit? %>
      <%= link_to "Edit Summary", edit_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

