<div class="media">
  <div class="media-body">
    <h1 class="media-heading">
      <%= @post.title %>
    </h1>
    <p><%= @post.body %></p>
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
  </div>
</div>

